@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.errorContainer {
  margin: spacing.$spacing-05 0;
}

.uploadFile {
  color: $ui-02;
  width: 100%;
  height: 25rem;

  div > button {
    max-width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    position: relative;
  }

  label {
    max-width: unset;
  }

  label > div {
    height: 25rem;
    justify-content: center;
    align-items: center;
  }
}
