@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@import '@openmrs/esm-styleguide/src/vars';

.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: spacing.$spacing-07;
  padding: spacing.$spacing-09 10rem;

  &.overlayOpen {
    padding-right: 1rem;
  }
}

.tabsContainer {
  :global(.cds--tab-content) {
    padding: 0
  }
}

.tabList {
  :global(.cds--tabs__nav-item--selected) {
    background-color: colors.$white-0;
    box-shadow: inset 0 2px 0 0 var(--brand-03) !important;
    border: none !important
  }

  :global(.cds--tabs__nav-link) {
    border: none !important;
  }
}

.tabPanel {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 3rem 1rem 1rem;
  background: colors.$white-0;
  border-radius: 2px 2px 2px;

  &.overlayOpen {
    width: calc(100% - 26.25rem);
  }

}

.tab {
  min-width: 8.875rem;

  &:active,
  &:focus {
    outline: 2px solid var(--brand-03) !important;
  }
}

.importConfigButton {
  background-color: transparent;
  color: var(--brand-03);
  border: 1px solid var(--brand-03);
  display: inline-flex;
  gap: 1rem;

  &:hover {
    background-color: var(--brand-03);
  }
}

:global(.omrs-breakpoint-lt-desktop){
  .mainWrapper {
    padding: 1rem;
  }
}
