@use '@carbon/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import "~@openmrs/esm-styleguide/src/vars";

.widgetCard {
  border: 1px solid $ui-03;
}

.divider {
  width: 1px;
  height: spacing.$spacing-05;
  color: colors.$gray-20;
  margin: 0 spacing.$spacing-05;
}

.rightMostFlexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.key {
  @include type.type-style('body-compact-01');
  color: $text-02;
  margin-bottom: spacing.$spacing-03;
}

.tag {
  :global(.cds--tag) {
    min-height: unset;
  }
}

.tableContainer {
  padding: 0;

  :global(.cds--data-table-header) {
    padding: 0;
  }

  :global(.cds--table-toolbar) {
    position: relative;
    overflow: visible;
    top: 0;
  }

  &:global(.cds--data-table-container) {
    background: none !important;
  }
}

.search {
  max-width: 16rem;
}

.menuItem {
  max-width: none;
}

.expandedRow {
  padding-inline-start: 3.5rem;

  > td {
    padding: inherit !important;

    > div {
      max-height: max-content !important;
    }
  }

  > div {
    background-color: $ui-02;
  }
}

.hiddenRow {
  display: none;
}

.content {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: spacing.$spacing-03;
}

.configInfo {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-05;
  padding: spacing.$spacing-05;
}

.gridTitle {
  @include type.type-style('label-02');
  color: colors.$gray-70;
}

.label {
  @include type.type-style('label-01');
  color: colors.$gray-70;
}

.labelBold {
  @include type.type-style('label-01');
  color: colors.$gray-70;
  font-weight: bold;
  margin-right: spacing.$spacing-02;
}

.labelContainer {
  display: flex;
}

